tqdm==4.65.0
numpy==1.21.5
ujson==5.7.0
addict==2.4.0
nvidia-dali-cuda110==1.28.0
setuptools==68.0.0
scipy==1.7.3
importlib-metadata==6.7.0
pillow==6.2.1
torchvision==0.14.1
opencv-python==4.8.0.74
pathspec==0.11.2
imagesize==1.4.1
scikit-learn==1.0.2
pycuda
tensorrt
onnxmltools
mmcv
